<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Convertor</title>
        <link rel="stylesheet" href="../static/style.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    </head>
    <body style="background-color: rgb(255, 245, 200);">
        <nav>
            <div class="logo">
                <h1>Convertor</h1>
            </div>
            
            <ul>
                <li><a href="/video">Video</a></li>
                <li><a href="/audio">Audio</a></li>
                <li><a href="/image">Image</a></li>
                <li><a href="/document">Document</a></li>
            </ul>
            
            <div class="menu-toggle">
                <input type="checkbox"/>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
        
        <main>
            <h1>Convert Your udio Here</h1>
            
            <div class="container h-100">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-10 col-md-8 col-lg-6">
                        <form action="/audio" method=POST enctype=multipart/form-data>
                            <input class="form-control" type=file name=file>
                            
                            <select name="format" class="form-select" aria-label="Default select example" style="margin-top: 16px">
                                <option selected>Output format</option>
                                <option value="mp3">mp3</option>
                                <option value="wav">wav</option>
                                <option value="ogg">ogg</option>
                                <option value="flac">flac</option>
                            </select>

                            <div class="col-md-12 text-center">
                                <input type=submit class="btn btn-primary" value=Upload style="margin-top: 16px; margin-bottom: 16px">
                            </div>
                            
                            {% if converted %}
                            <div class="col-md-12 text-center">
                                <a href="/download/{{ converted_filename }}" class="btn btn-success" style="text-decoration: none">Download</a>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <script src="../static/script.js"></script>
    </body>
</html>
